#TOC {
  /*left: 20px !important;*/
  width: 300px !important;
  max-width: 100% !important;
  overflow: "auto" !important;
}

/*body .main-container {
  left: 1000px !important;
  width: 1280px !important;
  max-width: 1280px !important;
}
body {
  left: 1000px !important;
  width: 1280px !important;
  max-width: 1280px !important;
}*/